* {
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

input,
textarea {
  -webkit-user-select: auto !important;
}
