@function px($x, $designWidth: 750) {
  @return $x / $designWidth * 100 + vw;
}

@mixin wh($w, $h) {
  width: px($w);
  height: px($h);
}

@mixin lt($left, $top) {
  position: absolute;
  left: px($left);
  top: px($top);
}

@mixin rb($right, $bottom) {
  position: absolute;
  right: px($right);
  bottom: px($bottom);
}

@mixin set-property($property, $x) {
  #{$property}: px($x);
}

@mixin img($url) {
  background-image: url($url);
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
