@function vw($x, $designWidth: 750) {
  @return $x / $designWidth * 100 + vw;
}

@mixin wh($w, $h) {
  width: vw($w);
  height: vw($h);
}

@mixin lt($left, $top, $position: absolute) {
  position: $position;
  left: vw($left);
  top: vw($top);
}

@mixin lb($left, $bottom, $position: absolute) {
  position: $position;
  left: vw($left);
  bottom: vw($bottom);
}

@mixin rb($right, $bottom, $position: absolute) {
  position: $position;
  right: vw($right);
  bottom: vw($bottom);
}

@mixin rt($right, $top, $position: absolute) {
  position: $position;
  right: vw($right);
  top: vw($top);
}

@mixin center($position: absolute) {
  position: $position;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin tc($top, $position: absolute) {
  position: $position;
  left: 0;
  right: 0;
  top: vw($top);
  margin: 0 auto;
}

@mixin bc($bottom, $position: absolute) {
  position: $position;
  left: 0;
  right: 0;
  bottom: vw($bottom);
  margin: 0 auto;
}

@mixin lc($left, $position: absolute) {
  position: $position;
  top: 0;
  bottom: 0;
  left: vw($left);
  margin: auto 0;
}

@mixin rc($right, $position: absolute) {
  position: $position;
  top: 0;
  bottom: 0;
  right: vw($right);
  margin: auto 0;
}

@mixin img($url, $size: 100%, $repeat: no-repeat) {
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: vw($size);

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}
